<mat-toolbar>
  <span class="title">{{ titleService.getTitle() }}</span>
  <span class="spacer"></span>
  <button
    mat-button
    routerLink="products"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: false }"
  >
    Products
  </button>
  <app-cart-icon></app-cart-icon>
  <button
    mat-button
    routerLink="contact"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: false }"
  >
    Contact
  </button>
  <button
    *ngIf="!authService.isAuthenticated()"
    mat-button
    routerLink="/login"
    routerLinkActive="active"
  >
    Login
  </button>
  <button
    *ngIf="authService.isAuthenticated()"
    mat-button
    routerLink="/admin/customers"
    routerLinkActive="active"
  >
    Admin
  </button>
  <button *ngIf="authService.isAuthenticated()" mat-button (click)="authService.logout()">
    Logout
  </button>
  <app-theme-selector></app-theme-selector>
</mat-toolbar>
<router-outlet></router-outlet>
