node_modules
.git
.gitignore
.vscode
.github
angular.json
eslint.config.js
jest.config.ts
playwright.config.ts
setup-jest.ts
stryker.config.js
tsconfig*.json
.prettierignore
.prettierrc
.editorconfig
README.md
old_stryker/
playwright/
reports/
coverage/
. angular/
Dockerfile
.dockerignore