<mat-toolbar>
  <span class="title">{{ titleService.getTitle() }}</span>
  <span class="spacer"></span>
  <button
    mat-button
    routerLink=""
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: false }"
  >
    Products
  </button>
  <app-cart-icon></app-cart-icon>
  <button
    mat-button
    routerLink="contact"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: false }"
  >
    Contact
  </button>
  @if (!authService.isAuthenticated()) {
  <button mat-button routerLink="/login" routerLinkActive="active">Login</button>
  } @else { @if (authService.user()?.isAdmin) {
  <button mat-button routerLink="/admin/users" routerLinkActive="active">Admin</button>
  }
  <button mat-button routerLink="/profile" routerLinkActive="active">Profile</button>
  <button mat-button (click)="authService.logout()">Logout</button>
  }
  <app-theme-selector></app-theme-selector>
</mat-toolbar>
<router-outlet></router-outlet>
